@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
:root {
  /* Colors */
  --Gradient: hsl(335, 100%, 65%), hsl(4, 100%, 67%);
  --tomato: hsl(4, 100%, 67%);
  --tomato-light: hsla(4, 80%, 76%, 0.973);
  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoa-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);

  /* Font */
  --font-family: "Roboto", sans-serif;
  --Weights: 400, 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Mobile Layout */
main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.img-mobile {
  width: 100%;
  object-fit: cover;
  object-position: bottom;
}
.subscribe-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem;
}

h1 {
  color: var(--dark-slate-grey);
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  font-size: 3rem;
}

p {
  color: var(--dark-slate-grey);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.sub-text {
  margin: 1px 0 1px 0;
}

.list-container-main {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 1rem 0 1rem 0;
}

.list-container {
  display: flex;
  gap: 1rem;
}

.text-email {
  color: var(--dark-slate-grey);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
}

.email-validation {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.4rem;
}

span {
  color: var(--tomato);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
}

.btn-form {
  background-color: var(--dark-slate-grey);
  border: none;
  border-radius: 0.3rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: white;
  height: 3rem;
  margin-top: 0.8rem;
  cursor: pointer;
  width: 100%;
}

.btn-form:hover{
  cursor: pointer;
  background: linear-gradient(
    90deg,
    hsl(335, 100%, 65%) -70%,
    hsl(4, 100%, 67%) 100%
  );
}


label {
  color: var(--dark-slate-grey);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
}

input {
  height: 3rem;
  width: 100%;
  border-radius: 0.3rem;
  color: var(--grey);
  border: solid 0.1rem;
  padding-left: 1rem;
  font-family: "Roboto", sans-serif;
  color: var(--grey);
}

/* Success container style mobile version */
.success-container {
  margin-top: 5rem;
  padding: 1rem;
}

.success-title {
  color: var(--dark-slate-grey);
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  font-size: 2.5rem;
  margin-top: 2rem;
}
.success-text {
  color: var(--dark-slate-grey);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin-top: 1rem;
  line-height: 22px;
  font-size: 1rem;
}

.success-span {
  color: var(--dark-slate-grey);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.success-btn {
  background-color: var(--dark-slate-grey);
  border: none;
  border-radius: 0.7rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: white;
  height: 4rem;
  margin-top: 21rem;
  width: 100%;
  font-size: 1rem;
}

.success-btn:hover {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    hsl(335, 100%, 65%) -70%,
    hsl(4, 100%, 67%) 100%
  );
}

/* Desktop layout */
@media (min-width: 768px) {
  main {
    background-color: var(--dark-slate-grey);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1 {
    font-size: 3.5rem;
  }

  .sub-container {
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 50rem;
    border-radius: 2rem;
  }

  .img-mobile {
    content: url("./assets/images/illustration-sign-up-desktop.svg");
    order: 1;
    width: 350px;
    height: 500px;
  }

  /* Success container style desketop version */
  .success-title {
    font-size: 3.5rem;
  }
  .success-container {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    margin: 0;
    padding: 4rem;
    width: 35rem;
  }
  .success-btn {
    background-color: var(--dark-slate-grey);
    border: none;
    border-radius: 0.7rem;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: white;
    height: 4rem;
    width: 100%;
    margin-top: 3rem;
    font-family: 1rem;
  }
  .success-btn:hover {
    cursor: pointer;
    background: linear-gradient(
      90deg,
      hsl(335, 100%, 65%) -70%,
      hsl(4, 100%, 67%) 100%
    );
  }
}
